<% if flash[:error] %>
  <div class="alert alert-danger my-2" id="flash_bar_danger">
    <%= flash[:error] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-success my-2" id="flash_bar_success">
    <%= flash[:notice] %>
  </div>
<% end %>
