<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrailSmith</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.2/dist/cerulean/bootstrap.min.css" 
          rel="stylesheet" 
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
            crossorigin="anonymous"></script>


    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="/presentation/assets/css/style.css"> -->
    <%= assets(:css) %>
    <%= assets(:js, defer: true)%>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
            crossorigin="anonymous"></script>

    <!-- Popper -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" 
            crossorigin="anonymous"></script>

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/7d6f93cf88.js" 
            crossorigin="anonymous"></script>

  </head>
  <body>
    <div class="container-fluid" id="body">
      <header class="row align-middle">
        <div class="col-12 py-2">
          <a href="/" class="text-underline-hover d-flex align-items-center">
            <img src="/logo.png" alt="logo" id="logo" class="me-2">
            <h1 id="title" class="py-1">TrailSmith</h1>
          </a>
        </div>
      </header>

      <section>
        <%= render('flash_bar') %>
        <%= yield %>
      </section>

      <footer>
        TrailSmith is made for demonstration purposes. We cannot warrant full correctness of all content. TrailSmith may use cookies for sessions but does not track users.
      </footer>
    </div>
  </body>
</html>
