doctype html
section
  .container
    .search-container
      h1 TrailSmith
      p Find your next adventure, hotel, or dining experience
      
      / Tab navigation
      ul.nav.nav-tabs
        li.nav-item
          a.nav-link href="#hotels" data-bs-toggle="tab" Hotels
        li.nav-item
          a.nav-link href="#things-to-do" data-bs-toggle="tab" Things to Do
        li.nav-item
          a.nav-link href="#restaurants" data-bs-toggle="tab" Restaurants

      / Tab content
      div.tab-content
        div.tab-pane.fade.show.active id="hotels"
          p Showing results for hotels...
        div.tab-pane.fade id="things-to-do"
          p Showing results for things to do...
        div.tab-pane.fade id="restaurants"
          p Showing results for restaurants...

      / Input group for search
      form role="form" action="/spot" method='POST' id='show-spot-info'
        .input-group.mt-3
          input type="text" name="query" placeholder="Places to go, things to do, hotels..." required=true class="form-control"
          button type="submit" class="btn btn-primary" Search
