---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"NTHU"}'
    headers:
      X-Goog-Api-Key:
      - WRONG_KEY
      X-Goog-Fieldmask:
      - places.displayName,places.formattedAddress,places.id,places.rating,places.reviews
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "places.googleapis.com"
                }
              },
              {
                "@type": "type.googleapis.com/google.rpc.LocalizedMessage",
                "locale": "en-US",
                "message": "API key not valid. Please pass a valid API key."
              }
            ]
          }
        }
  recorded_at: Sun, 17 Nov 2024 03:45:09 GMT
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"NTHU"}'
    headers:
      X-Goog-Api-Key:
      - "<GOOGLE_MAPS_KEY>"
      X-Goog-Fieldmask:
      - places.displayName,places.formattedAddress,places.id,places.rating,places.reviews
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "places": [
            {
              "id": "ChIJB7ZNzXI2aDQREwR22ltdKxE",
              "formattedAddress": "No. 101號, Section 2, Guangfu Rd, East District, Hsinchu City, Taiwan 300",
              "rating": 4.6,
              "displayName": {
                "text": "National Tsing Hua University",
                "languageCode": "en"
              },
              "reviews": [
                {
                  "name": "places/ChIJB7ZNzXI2aDQREwR22ltdKxE/reviews/ChZDSUhNMG9nS0VJQ0FnSURTejczMVRnEAE",
                  "relativePublishTimeDescription": "3 years ago",
                  "rating": 5,
                  "text": {
                    "text": "A large modern university campus with nice grounds and ponds. Very pleasant place to walk around. Be aware that scooters are not allowed inside and that it really is large so allow plenty of time if you’re going between building.",
                    "languageCode": "en"
                  },
                  "originalText": {
                    "text": "A large modern university campus with nice grounds and ponds. Very pleasant place to walk around. Be aware that scooters are not allowed inside and that it really is large so allow plenty of time if you’re going between building.",
                    "languageCode": "en"
                  },
                  "authorAttribution": {
                    "displayName": "Bob Cook",
                    "uri": "https://www.google.com/maps/contrib/113314347498798056711/reviews",
                    "photoUri": "https://lh3.googleusercontent.com/a-/ALV-UjXnVtt9YJqcF1nKU0HYeFRnAskfJtzUZjJ7wzw1xsyOyTpVQFIGmQ=s128-c0x00000000-cc-rp-mo-ba6"
                  },
                  "publishTime": "2021-01-13T14:41:43.923338Z",
                  "flagContentUri": "https://www.google.com/local/review/rap/report?postId=ChZDSUhNMG9nS0VJQ0FnSURTejczMVRnEAE&d=17924085&t=1",
                  "googleMapsUri": "https://www.google.com/maps/reviews/data=!4m6!14m5!1m4!2m3!1sChZDSUhNMG9nS0VJQ0FnSURTejczMVRnEAE!2m1!1s0x34683672cd4db607:0x112b5d5bda760413"
                },
                {
                  "name": "places/ChIJB7ZNzXI2aDQREwR22ltdKxE/reviews/ChdDSUhNMG9nS0VJQ0FnSURDNWV2eDRBRRAB",
                  "relativePublishTimeDescription": "4 years ago",
                  "rating": 5,
                  "text": {
                    "text": "In 1956, NTHU was re-established in Hsinchu city. NTHU [...]
[...]
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"NTHU"}'
    headers:
      X-Goog-Api-Key:
      - "<GOOGLE_MAPS_KEY>"
      X-Goog-Fieldmask:
      - places.id,places.displayName,places.rating,places.reviews,places.userRatingCount
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "places": [
            {
              "id": "ChIJB7ZNzXI2aDQREwR22ltdKxE",
              "rating": 4.6,
              "userRatingCount": 2559,
              "displayName": {
                "text": "National Tsing Hua University",
                "languageCode": "en"
              },
              "reviews": [
                {
                  "name": "places/ChIJB7ZNzXI2aDQREwR22ltdKxE/reviews/ChZDSUhNMG9nS0VJQ0FnSUQzNEtiVEhBEAE",
                  "relativePublishTimeDescription": "3 weeks ago",
                  "rating": 5,
                  "text": {
                    "text": "As a Beijing Tsinghua alumni, I am very hap[...]
[...]
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"nthu"}'
    headers:
      X-Goog-Api-Key:
      - WRONG_KEY
      X-Goog-Fieldmask:
      - places.id,places.displayName,places.rating,places.reviews,places.userRatingCount
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "places.googleapis.com"
                }
              },
              {
                "@type": "type.googleapis.com/google.rpc.LocalizedMessage",
                "locale": "en-US",
                "message": "API key not valid. Please pass a valid API key."
              }
            ]
          }
        }
  recorded_at: Sat, 07 Dec 2024 17:20:25 GMT
recorded_with: VCR 6.3.1
