@import "reset";
@import "variable";

header {
    background-color: #f6ede5;
    margin-bottom: 10px;
    a {
        #title {
            margin: 0;
            font-weight: 800;
            font-size: calc(1.375rem + 1.5vw);
        }
        #logo {
            // when screen width larger than height
            @media (orientation: landscape) {
                width: calc(1.375rem + 5vw);
            }

            // when screen height larger than width
            @media (orientation: portrait) {
                height: calc(1.375rem + 5vh);
            }
        }
    }
}

footer {
    padding: 0.5in 0;
    font-size: 11px;
    color: #646464;
}

.alert {
    margin: 0 12px;
}

.search-container {
    text-align: center;
}

.blank-row {
    height: 30px;
}

.table-row {
    cursor: pointer;
    vertical-align: middle;
    i {
        color: #f7b981;
    }
    border-color: #dfe2e5;
}

h2 {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.popular_spot {
    justify-content: center;
    gap: 2em;
    // li:not(:last-child) {
    //     margin-right: 8px;
    // }
}

.card {
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.spot_name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 24px 8px 8px;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.6) 0,
        rgba(0, 0, 0, 0.6) calc(100% - 24px),
        rgba(0, 0, 0, 0) 100%
    );
    div {
        font-weight: 800;
        font-size: 24px;
        color: white;
        font-family: "Courier New", Courier, monospace;
        letter-spacing: 0.02em;
    }
}

// draw map
.left {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align text to the left */
}

.route-step {
    margin: 5px 0;
    .step-text {
        font-size: 16px;
        font-weight: bold;
    }
}

.route-arrow {
    font-size: 24px; /* Make the icon larger */
    color: darkgray;
    margin: 5px 0;
    margin-left: 15px; /* Add margin to align with text */

    &:hover {
        cursor: pointer; /* Show pointer cursor on hover */
    }
}
